body{
    width:80%;
    margin:20px auto;
}
h1{
    text-align: center;
    color:rgb(182, 27, 0);
}
table {
    width: 100%;
}
button, input , table {
    width: 100%;
    font-size: 102%;
    white-space: normal;
    overflow-wrap: break-word;
}
input{
    text-align: center;
}
.ac {
    color: red;
}
